<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2>
          ID
        </h2>
      </div>
      <div class="col">
        <h2>
          First Name
        </h2>
      </div>
      <div class="col">
        <h2>
          Last Name
        </h2>
      </div>
      <div class="col">
        <h2>
          Email
        </h2>
      </div>
      <div class="col">
        <h2>
          Date Created
        </h2>
      </div>
    </div>
    <div id="lead-container">
      {% for lead in leads %}
      <div class="row">
        <div class="col">
          <p>{{lead.id}}</p>
        </div>
        <div class="col">
          <p>{{lead.first_name}}</p>
        </div>
        <div class="col">
          <p>{{lead.last_name}}</p>
        </div>
        <div class="col">
          <p>{{lead.email}}</p>
        </div>
        <div class="col">
          <p>{{lead.created_at}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="pagination-container row justify-content-center">
  <div class="col-6">
    <div class="row justify-content-between">
      {% if all_results_pages > 1%}
        {% for x in all_results_pages %}
          {% if current_page != x %}
            <form action="/find" method="POST">
              <input type="hidden" name="page_num" value={{x}}>
              <input class="btn btn-primary" type="submit" value={{x}}>
            </form>
          {% else %}
            <button class="btn btn-primary" disabled="disabled">{{x}}</button>
          {% endif %}
        {% endfor %}
      {% elif search_results_pages > 1 %}
        {% for x in search_results_pages %}
          {% if current_page != x %}  
          <form action="/find-search" method="POST">
            <input type="hidden" name="search_term" value="{{search_term}}">
            <input type="hidden" name="page_num" value={{x}}>
            <input class="btn btn-primary" type="submit" value={{x}}>
          </form>
          {% else %}
            <button class="btn btn-primary" disabled="disabled">{{x}}</button>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
