
{% for x in leads %}
<div class="row">
  <div class="col-1">{{x.id}}</div>
  <div class="col-4">{{x.first_name}}</div>
  <div class="col-4">{{x.last_name}}</div>
  <div class="col-3">{{x.registered}}</div>
</div>
{% endfor %}
{% if pages > 1 %}
<div class="pagination-container row justify-content-center">
  {% for x in pages %}
    <form action="/find" method="POST">
      {% csrf_token %}
      <input type="hidden" name="page_num" value={{x}}>
      <input type="submit" value={{x}}>
    </form>
  {% endfor %}
</div>
{% endif %}